<ul class="list-group">
  <li class="container border list-group-item" *ngFor="let stock of stocks | async">
    <table class="table">
      <tr>
        <td>
          <h5>{{ stock.name }}</h5>
        </td>
        <td>
          <button class="btn btn-light shadow-none" style="float: right !important" 
            (click)="deleteStock(stock)">
            X
          </button>
        </td>
      </tr>
    </table>
    <table class="table">
      <tr>
        <td class="w-50">
          <table class="table">
            <tr>
              <td>
                <span>Change today: </span>
                <span>{{ stock.percentChange }}</span>
              </td>
              <td>
                <span>Opening price: </span>
                <span>{{ stock.openingPriceOfTheDay | currency }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Current price: </span>
                <span>{{ stock.currentPrice | currency }}</span>
              </td>
              <td>
                <span>High price: </span>
                <span>{{ stock.highPriceOfTheDay | currency }}</span>
              </td>
            </tr>
          </table>
        </td>
        <td class="w-50">
          <span *ngIf="stock.percentChangeSign === '+'">🢁</span>
          <span *ngIf="stock.percentChangeSign === '-'">🢃</span>
        </td>
      </tr>
    </table>
  </li>
</ul>